/*Navbar:=============================*/

nav.navbar {
    /* eckige Navbar*/
    border-radius: 0;
    margin-bottom: 30px;
}
nav.navbar,
ul.navbar-nav {
    background-color: #475862;
    padding: 0px;
}

li.nav-item:hover,
li.nav-item:focus,
li.nav-item.active
{
    background-color: #999999;
}
a.nav-link {
    color: #ffffff !important;
    font-weight: bold;
    border: none;
    margin: 5px 15px 5px 15px;
}

/*Dropdown=============================*/
a.dropdown-item:hover,
a.dropdown-item:focus {
    color: black;
    text-decoration: none;
    background-color: #e3e3e3 !important;
}
div.dropdown-divider {
    margin: 0;
}

li.dropdown > div.dropdown-menu {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}
li.dropdown:hover > div.dropdown-menu {
    display: block;
}
.form-inline > .form-control {
    /*eckiges Suchfeld*/
    border-radius: 0;
}
.form-inline > .btn {
    /*eckiger Button*/
    border-radius: 0;
}
/*Mobile View===========================*/
a.navbar-brand {
    padding-left: 15px;
    color:#ffffff !important;
}
div.navbar-collapse.show > form {
    margin: 10px;
}